.hr {
	height: 2px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.15);
}

.madeby {
	letter-spacing: 0.1rem;
}

.madeby a {
	color: #54cff4;
	text-decoration: none;
}

.github {
	vertical-align: bottom;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-width: 40%;
}

.subtitle {
	font-weight: 200;
	letter-spacing: 0.1rem;
	text-align: center;
}

.title {
	letter-spacing: 1rem;
	font-weight: 400;
	margin-bottom: 20px;
}

.title_group {
	margin-top: 200px;
	height: 300px;
	user-select: none;
}
