.author {
	margin-bottom: -15px;
	font-weight: 100;
	color: #999999;
}

.image {
	width: 420px;
	height: 240px;
}

.image_stack {
	color: white;
	height: 220px;
	font-weight: 200;
	letter-spacing: 0.05rem;
	opacity: 0;
	user-select: none;
}

.info {
	color: #777;
	margin-bottom: 2rem;
	font-style: italic;
}

.fade {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.fade:hover {
	opacity: 1;
}

.fade::before {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.fade:hover::before {
	opacity: 0;
}

.sort_button {
	width: fit-content;
	margin-left: 0.75rem;
}

.url {
	text-decoration: none;
	font-weight: 700;
	color: #54cff4;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.wrapper {
	-webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
	border-image: rounded 10px !important;
	border: 1px solid rgba(255, 255, 255, 0.1);
	transition: border-color 0.5s ease;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s ease-in-out;
}

.wrapper:hover {
	border-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transform: scale(1.05);
}

.wrapper a {
	text-decoration: none;
}
